<!DOCTYPE html>
<html>
  <head>
    <title>Tuitorte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "header">
      Bem vindo ao Twitter do ORT :)
    </div>

    <%= yield %>
    
    <div class = "footer">
      Feito por Thiago Tobianah :)
    </div>
    
  </body>
</html>
